.git
.gitignore
.github
.idea
.vscode
.cursor
.zed
.nova
.codex
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/*.key
storage/pail
public/build
public/hot
public/storage
#.env
.env.example
.env.backup
.env.production
*.log
docker-compose.yml
README.md
tests
.phpunit.cache
.phpunit.result.cache
auth.json
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
.DS_Store